
.slideLeftFourth{
    height: 660px;
    overflow: hidden;
    position: absolute;
    left: 0;
    max-width: calc(10vw + 600px);
    width: 43vw;
    padding: 30px 5vw;
    top: 120px;
    z-index: 15;
    background-color: #000;
    animation-name: slideLeftFourth;
    animation-duration: 45s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes slideLeftFourth {
    0%   {z-index: 15;}
    59.99%  {z-index: 15;}
    60%  {z-index: 24;}
    79.99%  {z-index: 24;}
    80%  {z-index: 15;}
    100%  {z-index: 15;}
}
.blackSheetBigLetterFourth {
    z-index: 22;
    bottom: 40px;
    background-color: #000;
    overflow: hidden;
    position: relative;
    width: 0;
    height: 70px;
    animation-name: blackSheetBigLetterFourth;
    animation-duration: 45s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes blackSheetBigLetterFourth {
    0%   {width: 36px;}
    60%   {width: 36px;}
    64%   {width: 0px;}
    76%   {width: 0px;}
    80%   {width: 36px;}
    100%  {width: 36px;}
}

.blackSheetSmallLetterFourth {
    z-index: 22;
    bottom: 40px;
    background-color: #000;
    overflow: hidden;
    position: relative;
    width: 0;
    height: 50px;
    animation-name: blackSheetSmallLetterFourth;
    animation-duration: 45s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes blackSheetSmallLetterFourth {
    0%   {width: 35px;}
    60%   {width: 35px;}
    64%   {width: 0px;}
    76%   {width: 0px;}
    80%   {width: 35px;}
    100%  {width: 35px;}
}

@media only screen and (max-width: 770px) {
    .slideLeftFourth{
        top: 220px;
        width: 100%;
        max-width: 100%;
        height: 300px;
    }
   }
   
   @media only screen and (max-width: 430px) {
       .slideLeftFourth{
           height: 500px;
       }
   }
   @media only screen and (max-width: 350px) {
    .slideLeftFourth{
        height: 600px;
    }
}